.expansionPanelStyle{
    flex-grow: 1;
}

.paperStyle{
    border: '2px solid #000';
    box-shadow: black;
    position: relative;
    width: 60%;
    height: 15%;
    background-color: whitesmoke;
    padding: 5%;
}

.editModelStyle{
    padding-bottom: 5%;
}
.listLabelStyle{
    text-align: left;
}

.listNameLabelStyle{
    font-size: larger;
    font-weight: bolder;
}