.cardStyle{
    display: flex   ;
    flex-grow: 1;
}

.addListStyle{
    width: 90%;
}

.searchBoxStyle{
    width: 70%;

}

.mainCardStyle{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.listLabelStyle{
    font-size: larger;
    font-weight: bolder;
}