.paperStyle{
    border: '2px solid #000';
    box-shadow: black;
    position: relative;
    width: 60%;
    height: 15%;
    background-color: whitesmoke;
    padding: 5%;
}

.editModelStyle{
    padding-bottom: 5%;
}